:root {
  --size-32: calc(1rem * (32 / 16));
  --size-24: calc(1rem * (24 / 16));
  --size-18: calc(1rem * (18 / 16));
  --size-16: calc(1rem);
  --size-14: calc(1rem * (14 / 16));
  --size-12: calc(1rem * (12 / 16));
  --size-8: calc(1rem * (8 / 16));
  --size-4: calc(1rem * (4 / 16));
  --size-1: calc(1rem * (1 / 16));
  --color-background: #ffffff;
  --color-background-transparent: rgba(0, 0, 0, 0.25);
  --color-border: #cccccc;
  --color-disabled: #aaaaaa;
  --color-link: #777777;
  --color-primary: #1f1f1f;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(1rem, 3vh, 1rem); // Optional: Change max 1rem to 2rem
  height: 100vh;
  min-height: 22.5rem; // 360px
  min-width: 30rem; // 480px
  overflow: hidden;
  width: 100vw;
  
  * {
    box-sizing: border-box;
    user-select: none;
    font-size: 100%;
    touch-action: manipulation;
    -ms-touch-action: manipulation;
  }

  body {
    font-family: inherit;
    height: inherit;
    margin: 0;
    overflow: hidden;
    width: inherit;

    #app {
      height: inherit;
      width: inherit;
    }

    .dark {
      --color-background: #1f1f1f;
      --color-background-transparent: rgba(0, 0, 0, 0.25);
      --color-border: #444444;
      --color-disabled: #555555;
      --color-link: #aaaaaa;
      --color-primary: #ffffff;
    }
  }
}